*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 300vh;
    background: linear-gradient(rgb(0, 0, 0) 0%, rgb(44, 46, 67) 50%, rgb(89, 82, 96) 100%);
}

header {
    height: 100vh;
    width: 100vw;
}


main {
    width: 100vw;
    height: 100vh;
}

